<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Alpha Blog</h1>
      <p>My first Ruby on Rails Application</p>
    </div>
  </div>